
*{
    margin:0px;
    padding:0px;
    margin:0px;
}
.header{
    background-color: rgb(0, 68, 255);
    border-width: 0px;
    margin:0px;
    padding:0px;
    margin:0px;
    border-color: rgb(0, 68, 255);
    border-style: double;

}
.imgT{
    margin:0px;
    padding:0px;
    margin:0px;
    position: fixed; 
    top: 120px; 
    left: 10px;
    
}
.imgH{
    border-width: 0mm;
    margin:0px;
    padding:0px;
    margin:0px;
    height:180px;    
    background-repeat: repeat-x;
}
h1{
    margin: 10px;
    text-decoration: solid;
    font-style: bold;
}

