
*{
    margin:0px;
    padding:0px;
    margin:0px;
}
.header{
    background-color: rgb(0, 68, 255);
    border-width: 0px;
    margin:0px;
    padding:0px;
    margin:0px;
    border-color: rgb(0, 68, 255);
    border-style: double;

}
.imgT{
    margin:0px;
    padding:0px;
    margin:0px;
    position: absolute; 
    top: 120px; 
    left: 10px;
    
}
.imgH{
    border-width: 0mm;
    margin:0px;
    padding:0px;
    margin:0px;
    height:180px;    
    background-repeat: repeat-x;
}
.body{
    margin:10px;
    border: 10px;
    padding: 10px;

}
h1{

    text-decoration: solid;
    font-style: bold;
}
h5{
    color: grey;
}
a{
    color: lightblue;
    font-style: normal;
    text-decoration: none;
}
.tim1{
    width:670px;
}
.tim2{
    width: 570px;
}
ul{
    margin-left: 20px;
    text-decoration-style: double;
}

h3 {
    font-weight: 300px;
}

table{
    width: 100%;
    margin: 10px;
}

table tr:first-child{
    height: 20px;
    background-color: rgb(13, 115, 204);
}
table tr{
    height: 50px;
}
